
<svg class='uit-key' version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 12.8 14.9" style="enable-background:new 0 0 12.8 14.9;" xml:space="preserve">
    <defs>
        <pattern id="uit-hatch" patternUnits="userSpaceOnUse" width="4" height="4">
            <rect width="4" height="4"></rect>
            <path d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" class="mt-dem-path"></path>
        </pattern>
    </defs>
    <path class="uit-key__hex" d="M6.4,14.9l6.4-3.7V3.7L6.4,0L0,3.7v7.5L6.4,14.9z"/>
</svg>
