<div class='uit-comparison__copy'>
    The 2018 Midterms saw a record number of women elected, the first muslim congresswoman, another first and XXX new faces. But, does the new Congress reflect you or the US population?
    </div>
<div class='uit-comparison__charts'>
    <div class='uit-comparison__chart uit-comparison__chart--us'>
        <div class='uit-comparison__label'>US</div>
        <div class='uit-comparison__percentage'>50%</div>
        <div class='uit-comparison__area'>
            <div class='uit-comparison__match-area'></div>
        </div>
    </div>

    <div class='uit-comparison__chart uit-comparison__chart--congress'>
        <div class='uit-comparison__label'>Congress</div>
        <div class='uit-comparison__percentage'>50%</div>
        <div class='uit-comparison__area'>
            <div class='uit-comparison__match-area'></div>
        </div>
    </div>

    <div class='uit-comparison__chart uit-comparison__chart--D'>
        <div class='uit-comparison__label'>Democrats</div>
        <div class='uit-comparison__percentage'>50%</div>
        <div class='uit-comparison__area'>
            <div class='uit-comparison__match-area'></div>
        </div>
    </div>

    <div class='uit-comparison__chart uit-comparison__chart--R'>
        <div class='uit-comparison__label'>Republicans</div>
        <div class='uit-comparison__percentage'>50%</div>
        <div class='uit-comparison__area'>
            <div class='uit-comparison__match-area'></div>
        </div>
    </div>
</div>
