<div class='uit-comparison'>
    <div class='uit-container'>
        <div class='uit-content'>
            <div class='uit-comparison__intro'>
                <h2 class='uit-comparison__title'>Compared to the US</h2>
            </div>
            <div class='uit-comparison__intro_copy'>
                Every 10 years, the United States conducts a census on its population, and we get a better idea on the makeup of the American people. With this upcoming Congress, some identity groups see their first representation on Capitol Hill ever, while others continue to have a strong presence in the legislative branch.
            </div>

            <div class='uit-comparison__group' data-set='gender'>
                <div class='uit-comparison__filters'>
                    <span class='uit-comparison__filter-title'>Gender</span>
                    <span class='uit-comparison__filter is-selected'>Cis Male</span>
                    <span class='uit-comparison__filter'>Cis Female</span>
                    <span class='uit-comparison__filter'>Trans + Non-binary</span>
                </div>

                <div class='uit-comparison__copy'>
                    Despite seeing a record number of women elected, congress is disproportionally dominated by men in comparison to the US. If congress was a true reflection of the US we would have three transgender members of congress, instead though, we're still waiting for the first.
                </div>

                {{> partials/comparison-charts }}
            </div>

            <div class='uit-comparison__group' data-set='orientation'>
                <div class='uit-comparison__filters'>
                    <span class='uit-comparison__filter-title'>Orientation</span>
                    <span class='uit-comparison__filter is-selected'>Straight</span>
                    <span class='uit-comparison__filter'>LGB</span>
                </div>

                <div class='uit-comparison__copy'>
                    LGB representation in the congress, while improving with every election, is still under-half a true reflection of the US. This figure only includes congresspersons who have stated publicly whether they are gay, lesbian or bisexual.
                </div>

                {{> partials/comparison-charts }}
            </div>

            <div class='uit-comparison__group' data-set='age'>
                <div class='uit-comparison__filters'>
                    <span class='uit-comparison__filter-title'>Age</span>
                    <span class='uit-comparison__filter is-selected'>Under 35</span>
                    <span class='uit-comparison__filter'>35-49</span>
                    <span class='uit-comparison__filter'>50-64</span>
                    <span class='uit-comparison__filter'>Over 65</span>
                </div>

                <div class='uit-comparison__copy'>
                    There are two reasons why Congress tends to skew older. There are age restrictions for who can serve – Senators have to be at least 30 while a representative of the house has to be over 25 – and historically 90% of incumbents hold on to their seat at elections. However, there are signs that the tides are starting to turn with newly elected Alexandria Ocasio-Cortez and Abby Finkenauer becoming the youngest women to serve in the house at just 29-years-old.
                </div>

                {{> partials/comparison-charts }}
            </div>

            <div class='uit-comparison__group' data-set='ethnicity'>
                <div class='uit-comparison__filters'>
                    <span class='uit-comparison__filter-title'>Ethnicity</span>
                    <span class='uit-comparison__filter is-selected'>White</span>
                    <span class='uit-comparison__filter'>Hispanic</span>
                    <span class='uit-comparison__filter'>Black</span>
                    <span class='uit-comparison__filter'>Asian</span>
                    <span class='uit-comparison__filter'>Native American</span>
                    <span class='uit-comparison__filter'>Middle Eastern</span>
                    <span class='uit-comparison__filter'>Multiracial</span>
                </div>

                <div class='uit-comparison__copy'>
                    Capitol Hill is just disproportionally white – especially on the Republican side of the aisle. However, the midterms saw many diverse firsts. Texas elected their first Hispanic congresswomen while Massachusetts and Connecticut will both be represented by black congresswomen for the first time. It was also a good year for Sharice Davids and Deb Haaland by becoming the first Native American congresswomen bringing Native American congressional representation proportional to the US population.
                </div>

                {{> partials/comparison-charts }}
            </div>

            <div class='uit-comparison__group' data-set='religion'>
                <div class='uit-comparison__filters'>
                    <span class='uit-comparison__filter-title'>Religion</span>
                    <span class='uit-comparison__filter is-selected'>Christian</span>
                    <span class='uit-comparison__filter'>Jewish</span>
                    <span class='uit-comparison__filter'>Hindu</span>
                    <span class='uit-comparison__filter'>Muslim</span>
                    <span class='uit-comparison__filter'>Mormon</span>
                    <span class='uit-comparison__filter'>Buddhist</span>
                    <span class='uit-comparison__filter'>Non-religious</span>
                </div>

                <div class='uit-comparison__copy'>
                    Congress remains overwhelmingly Christian – again, especially on the Republican side of the aisle. However, Hindu, Mormon and Muslim representation, more or less, reflects the rest of the US. The most underrepresented group is non-religious (defined here as agnostic or atheist) with only Jared Huffman publicly revealing he's a Humanist.
                </div>

                {{> partials/comparison-charts }}
            </div>
        </div>
    </div>
</div>
