<div class='uit-count'>
    <div class='uit-container'>
        <div class='uit-content'>
            <div class='uit-count__intro'>
                <h2 class='uit-count__title'><span class='uit-count__count'></span> people in congress are like you</h2>
                <p class='uit-count__description'>Excludes 2 missing from the map, 2 undeclared senate races and 12 undeclared house races</p>
            </div>

            <div class='uit-map'>
                <div class='uit-map__tooltip'>
                    <h3 class='uit-map__tooltip-title'>
                        <span class='uit-map__tooltip-name'>Name</span>
                        <span class='uit-map__tooltip-party'>(P)</span>
                    </h3>
                    <h3 class='uit-map__tooltip-seat'>Seat name</h3>
                </div>

                {{> partials/map-compiled }}
            </div>
        </div>
    </div>
</div>