<div class='uit-filters'>
    <div class='uit-container'>
        <div class='uit-content'>
            <div class='uit-filters__intro'>
                <h2 class='uit-filters__title'>You are ...</h2>
                <p class='uit-filters__description'>Enter your details to find yourself in the new congress</p>
            </div>

            <div class='uit-filter-set-wrapper'>
                <div class='uit-filter-set' data-set='gender'>
                    <span class='uit-filter__title'>Gender</span>
                    <span class='uit-filter'>Male</span>
                    <span class='uit-filter'>Female</span>
                </div>

                <div class='uit-filter-set' data-set='ethnicity'>
                    <span class='uit-filter__title'>Ethnicity</span>
                    <span class='uit-filter'>White</span>
                    <span class='uit-filter'>Hispanic</span>
                    <span class='uit-filter'>Black</span>
                    <span class='uit-filter'>Asian</span>
                    <span class='uit-filter'>Native American</span>
                </div>

                <div class='uit-filter-set' data-set='orientation'>
                    <span class='uit-filter__title'>Orientation</span>
                    <span class='uit-filter'>Straight</span>
                    <span class='uit-filter'>LGB</span>
                </div>

                <div class='uit-filter-set' data-set='age'>
                    <span class='uit-filter__title'>Age</span>
                    <span class='uit-filter'>Under 35</span>
                    <span class='uit-filter'>35-49</span>
                    <span class='uit-filter'>50-64</span>
                    <span class='uit-filter'>Over 65</span>
                </div>

                <div class='uit-filter-set' data-set='religion'>
                    <span class='uit-filter__title'>Religion</span>
                    <span class='uit-filter'>Christian</span>
                    <span class='uit-filter'>Jewish</span>
                    <span class='uit-filter'>Hindu</span>
                    <span class='uit-filter'>Muslim</span>
                    <span class='uit-filter'>Mormon</span>
                </div>
            </div>
        </div>
    </div>
</div>