<div class='uit-filters'>
    <div class='uit-container'>
        If you are

        <div class='uit-filter-set' data-set='gender'>
            <span class='uit-filter'>male</span>
            <span class='uit-filter'>female</span>
            <span class='uit-filter'>transgender</span>
        </div>

        and 

        <div class='uit-filter-set' data-set='ethnicity'>
            <span class='uit-filter'>white</span>
            <span class='uit-filter'>hispanic</span>
            <span class='uit-filter'>black</span>
            <span class='uit-filter'>asian</span>
            <span class='uit-filter'>native american</span>
        </div>

        and

        <div class='uit-filter-set' data-set='orientation'>
            <span class='uit-filter'>straight</span>
            <span class='uit-filter'>LGB</span>
        </div>

        and

        <div class='uit-filter-set' data-set='age'>
            <span class='uit-filter'>under 45</span>
            <span class='uit-filter'>45-64</span>
            <span class='uit-filter'>over 65</span>
        </div>

        and

        <div class='uit-filter-set' data-set='religion'>
            <span class='uit-filter'>christian</span>
            <span class='uit-filter'>jewish</span>
            <span class='uit-filter'>hindu</span>
            <span class='uit-filter'>muslim</span>
            <span class='uit-filter'>mormon</span>
        </div>
    </div>
</div>