<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                Are you reflected in the new Congress?
            </h1>
            <p class='uit-header__standfirst' itemprop='description'>The 2018 Midterms made history on a few fronts, with a record number of women being elected, along with many racial, gender, and sexual orientation <a href="https://www.theguardian.com/us-news/2018/nov/06/midterms-2018-first-history-making-election-wins">representation "firsts."</a> But, does the new Congress reflect you or the US population?</p>
            <p class='uit-header__byline'><a href='https://www.theguardian.com/profile/sam-morris'>Sam Morris</a>, <a href='https://www.theguardian.com/profile/juweek-adolphe'>Juweek Adolphe</a>, and <a href='https://www.theguardian.com/profile/erum-salam'>Erum Salam</p>
            {{> partials/share }}
        </div>
    </div>
</div>
