<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                Are you reflected in the new Congress?
            </h1>
            <p class='uit-header__standfirst' itemprop='description'>The 2018 Midterms saw a record number of women elected, the first muslim congresswoman, another first and XXX new faces. But, does the new Congress reflect you or the US population?</p>
            <p class='uit-header__byline'><a href='https://www.theguardian.com/sam-morris'>Sam Morris</a> and <a href='https://www.theguardian.com/juweek-adolphe'>Juweek Adolphe</a></p>
            {{> partials/share }}
        </div>
    </div>
</div>