<div class='uit-method'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h2 class='uit-method__title'>Methodology</h2>
            <p><b>1.</b> Data collected is for the candidates confirmed in office. Candidates and races were confirmed using the AP Elections API. Demographic data was confirmed via a list of online resources. </p>
            <p><b>2.</b> Congresspersons are considered multiracial if they identify with two or more races. Definition and national data of this group is retrieved from the <a href="https://www.census.gov/prod/cen2010/briefs/c2010br-13.pdf">2010 Census Briefs</a>.</p>
            <p><b>3.</b> Congresspersons are considered Transgender Male/Female if their gender identity and/or gender expression differs from the sex they were assigned at birth. Definition retrieved from <a href="https://www.glaad.org/reference/transgender">GLAAD</a></p>
            <p><b>TO CONFIRM</b> Congresspersons are considered LGB if they are lesbian, gay, or bisexual and have stated so publicly.</p>
            <p><b>TO CONFIRM</b> The ethnicity groups are white, black, asian (which includes groups from the middle east and south asia), hispanic (hispanic and whites are not mutually exclusive), and native americans. The nationwide data for that is collected from 2010 census data.</p>
            <p><b>6.</b> Our dataset did not include cross-categorization of ethnicity and race. All race categories ("white", "black", etc.) should be interpreted as non-hispanic.</p>
            <p><b>7.</b>The "under 35" figure is inclusive for the country, but the US Constitution bars those under the age of 25 from serving in the House of Representatives and you need to be 30 to serve in the Senate, resulting in a large difference in percentages</p>
            <p>Sources: AP Elections API, US Census, Votesmart.org, Ballotpedia.org, CivilServiceUSA</p>
        </div>
    </div>
</div>
