<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>Related stories</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2018/nov/06/midterms-2018-first-history-making-election-wins'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/34cdf80074dcb6faa364872ffb2ba2f7f9909599/0_102_3500_2101/500.jpg' />
                    <div class='uit-related__headline'>A night of firsts: the candidates who made history in the 2018 midterms</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2018/nov/12/lesson-hopeful-ilhan-omar-journey-somali-refugee-us-congress'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/3e266f6a253efcc4ca58496ac920d18d5a16a0d6/0_16_5568_3341/500.jpg' />
                    <div class='uit-related__headline'>'The lesson is to be hopeful': Ilhan Omar's journey from Somali refugee to US Congress</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2018/nov/07/exit-polls-high-turnout-young-voter-surge-democrats'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/7f2725a76a70450f5cd02cee52b76a6e2deb07ab/0_353_5288_3173/500.jpg' />
                    <div class='uit-related__headline'>The key midterms voter trends: high turnout and youth surge for Democrats</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2018/nov/10/donald-trump-midterm-elections-2020-democrats-republicans'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/bf00bd1176219e38f4b9ecdac7e0711dd52248cf/409_236_4576_2746/500.jpg' />
                    <div class='uit-related__headline'>'Democrats won the House but Trump won the election' – and 2020 is next</div>
                </a>
            </div>
        </div>
    </div>
</div>