.uit-count {
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 24px;
    border-top: 1px solid $c-light-grey;
}

.uit-count__count {
    color: $c-red;
    font-family: 'Guardian Figures';
    font-weight: normal;
    font-size: 40px;
}
