.uit-count {
    border-top: 1px solid $c-light-grey;

    .uit-content {
        @include mq(desktop) {
            max-width: 780px;
        }
    }
}

.uit-count__count {
    color: $c-red;
    font-family: 'Guardian Figures';
    font-weight: normal;
    font-size: 40px;
    line-height: 1;

    @include mq(leftCol) {
        display: block;
        font-size: 60px;
        margin-bottom: -5px;
    }
}

.uit-count__intro {
    @include mq(leftCol) {
        position: absolute;
        top: 0;
        left: -160px;
        max-width: 140px;
    }

    @include mq(wide) {
        left: -240px;
        max-width: 220px;
    }
}

.uit-count__title {
    margin: 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    padding-top: 4px;
}

.uit-count__keys {
    font-family: 'Guardian Sans Web';
    font-size: 14px;
    line-height: 20px;
    color: $c-black;
    font-weight: normal;
    margin: 6px 0 6px;
}

.uit-key {
    float: left;
    width: 1em;
    margin-right: 4px;
}

.uit-key__hex {
    fill: url(#uit-hatch);
    stroke: $c-red;
    stroke-width: .5;
}