.uit-filters {
    border-top: 1px solid $c-light-grey;
}

.uit-filters__intro {
    @include mq(leftCol) {
        position: absolute;
        top: 0;
        left: -160px;
        max-width: 140px;
    }

    @include mq(wide) {
        left: -240px;
        max-width: 220px;
    }
}

.uit-filters__title {
    margin: 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    padding-top: 4px;
}

.uit-filters__description {
    font-family: 'Guardian Text Egyptian Web';
    font-size: 14px;
    line-height: 20px;
    color: $c-dark-grey;
    font-weight: normal;
    margin: 2px 0 6px;
}

.uit-filter-set-wrapper {
    @include mq(desktop) {
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.uit-filter-set {
    position: relative;
    padding-bottom: 6px;
    padding-top: 3px;
    background-image: linear-gradient(to right, $c-light-grey 50%, transparent 0%);
    background-size: 10px 1px;
    background-position: left top;
    background-repeat: repeat-x;

    @include mq(desktop) {
        box-sizing: border-box;
        width: calc(33% - 20px);
        margin-right: 20px;
        padding-left: 6px;
        margin-bottom: 18px;
    }

    &:nth-of-type(1) {
        @include mq(leftCol) {
            background: none;
        }
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
        @include mq(leftCol) {
            background: none;
        }
    }

    &:last-of-type {
        padding-bottom: 24px;
    }

    &:before {
        @include mq(desktop) {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 1px;
            background-image: linear-gradient($c-light-grey 50%, transparent 0%);
            background-size: 1px 10px;
            background-position: left top;
            background-repeat: repeat-y;
        }
    }
}

.uit-filter__title {
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    color: $c-black;
    display: block;
}

.uit-filter {
    background-color: $c-light-grey;
    padding: 0 3px 1px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;

    &:hover {
        background-color: $c-grey;
        cursor: pointer;
    }

    &.is-selected {
        color: $c-white;
        background-color: $c-red;
    }
}
